/********** 共用CSS樣式 **********/
/* 請務必套用同樣式以維持網頁一致性 */

/* 打開參考線 */
/* div{
    border:1px solid turquoise;
} */

/* 此區編輯 btn */
.cart-icon {
  width: 70px;
  height: 70px;
  background-color: #d4d5d5;
  border-radius: 50%;
  text-align: center;
}
.fas.fa-shopping-cart {
  color: #e3b684;
  font-size: 2rem;
  line-height: 70px;
}
.btn-quantity {
  border: 1px solid #000000;
  font-size: 0.6rem;
  width: 70px;
  height: 35px;
  line-height: 35px;
}
.btn-add-sub {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.btn-buy {
  background-color: #000000;
  color: white;
  border: none;
  font-size: 0.6rem;
  width: 140px;
  height: 35px;
}
.btn-send {
  background-color: #e3b684;
  color: #000000;
  border: 1px solid transparent;
  font-size: 0.6rem;
  width: 140px;
  height: 35px;
}
.btn-send:hover {
  background-color: transparent;
  color: #e3b684;
  border: 1px solid #e3b684;
  font-size: 0.6rem;
  width: 140px;
  height: 35px;
}

/* 此區編輯 a */
.a-gray {
  background-color: #5e5e5e;
  color: #e3b684;
  border: 1px solid #e3b684;
  font-size: 18px;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.a-gray:hover {
  text-decoration: none;
  background-color: #e3b684;
  color: #1b1b1b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.a-white {
  background-color: transparent;
  color: #e3b684;
  border: 1px solid #e3b684;
  font-size: 18px;
  font-weight: lighter;
  /* border-radius: 20px; */
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.a-white:hover {
  text-decoration: none;
  background-color: #e3b684;
  color: #1b1b1b;
  border: 1px solid #e3b684;
}
.a-black {
  /* background-color:#1B1B1B; */
  color: #000000;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.a-black:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: 5px solid #e3b684;
}
.a-gold {
  background-color: #e3b684;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  transition: 1s;
}
.a-gold:hover {
  text-decoration: none;
  background-color: #e3b684;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 300px;
  transition: 1s;
}

/* 此區編輯 card */
.product-card {
  width: 280px;
  height: 580px;
  background-color: #2f2d2c;
}
.product-img {
  width: 280px;
  height: 375px;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.en {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}
.ch {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: -20px;
}
.p-price {
  color: #d9af80;
  font-size: 18px;
  text-align: center;
  /* margin-top: -10px; */
}
.a-white-div {
  text-align: center;
  margin-top: 20px;
}

/* 此區編輯navbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navbar 背景色 */

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 190px;
  background: #000000;
}

/* rwd點選功能 */

nav input {
  display: none;
}

/* mega menu樣式 */

nav .wrapper {
  position: relative;
  width: 100%;
  /* max-width: 1920px; */
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

/* logo */

.wrapper .logo {
  width: 180px;
  height: 100px;
  /* position: absolute;
  top:15%;
  left:40%; */
  margin: 80px auto 0;
}

/* .wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
} */

/* mega menu 區塊 */

.nav-links {
  width: 81%;
  position: absolute;
  top: 170%;
  left: 0;
}

.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}

/* 導覽列文字顏色與樣式 */

.nav-links li a {
  color: #e3b684;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  margin: 0 55px;
  padding: 5px 10px;
  border-bottom: 1px solid #e3b684;
  /* border-radius: 5px; */
  transition: all 0.3s ease;
  letter-spacing: 1.5px;
}

/* 導覽列滑鼠滑過 */

.nav-links li a:hover {
  text-decoration: none;
  color: #e3b684;
  font-weight: 500;
  border-bottom: 5px solid #e3b684;
}

/* RWD設定 */
.nav-links .mobile-item {
  display: none;
  opacity: 1;
}

.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

/* mega menu內文標題 */

header h4 {
  text-align: center;
  font-weight: 350;
  letter-spacing: 1.5px;
}

header p {
  font-size: 16px;
  text-align: center;
  font-weight: 200;
  letter-spacing: 1.5px;
}

/* 內文標題結束 */

.mega-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  opacity: 0;
  visibility: hidden;
}

/* about背景圖 */

.mega-box .content {
  background: #000000;
  background-image: url(./images/0_navbar/about-img.jpg);
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* product背景圖 */
.mega-box .content-product {
  background: #000000;
  background-image: url(./images/0_navbar/product-img.jpg);
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* member背景圖 */

.mega-box .content-member {
  background: #000000;
  background-image: url(./images/0_navbar/member-img.jpg);
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.mega-box .content-product .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.mega-box .content-member .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .mega-links li a:hover {
  text-decoration: none;
  color: #e3b684;
  font-weight: 350;
  border-bottom: 2px solid #e3b684;
}

.content-product .mega-links li a:hover {
  text-decoration: none;
  color: #e3b684;
  font-weight: 350;
  border-bottom: 2px solid #e3b684;
}

.content-member .mega-links li a:hover {
  text-decoration: none;
  color: #e3b684;
  font-weight: 350;
  border-bottom: 2px solid #e3b684;
}

.content .imgs {
  width: 100%;
  height: 60%;

  margin-top: 30px;
  margin: 30px 10px;
}

.content-member .imgs {
  width: 100%;
  height: 60%;

  margin-top: 30px;
  margin: 30px 10px;
}

.content .row img {
  width: 100%;
  height: 7%;
  object-fit: cover;
  margin-left: 20px;
}

.content-member .row img {
  width: 100%;
  height: 7%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content-product .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content-member .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

/* mega-links 間隔的灰色線條 */

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.content-product .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.content-member .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.content-product .product {
  height: 80%;
  margin-left: -40px;

  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.content-member .product {
  height: 80%;
  margin-left: -40px;

  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

/* .content .text ul {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    background-color: antiquewhite;
} */

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links img {
  width: 100%;
  height: 150px;
  /* background-color: darkgoldenrod; */
  padding: 0 40px;
}

.row .mega-links li a {
  width: 160px;
  height: 60px;
  text-align: center;
  padding: 0px;
  padding: 0 20px;
  line-height: 30px;
  margin: 30px 100px;
  color: #fff;
  font-size: 18px;
  display: block;
  border: none;
  /* background-color: darkblue; */
}
/* .row .mega-links li a:hover {
  color: #f2f2f2;
} */
.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn .close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

/* Navbar RWD-Hamburger */

@media screen and (max-width: 970px) {
  nav {
    height: 100px;
  }

  .btn.close-btn {
    color: #e3b684;
  }

  .btn.menu-btn {
    color: #e3b684;
  }

  .wrapper {
    width: 100%;
    padding: 0;
  }

  .wrapper .btn {
    display: block;
  }

  .wrapper .logo {
    width: 100px;
    height: 30px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #000000;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background: #e3b784b9;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showMega:checked ~ .mega-box,
  #showMega-1:checked ~ .mega-box,
  #showMega-2:checked ~ .mega-box,
  #showMega-3:checked ~ .mega-box,
  #showMega-4:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #fff;
    font-size: 17px;
    font-weight: 350;
    padding-left: 20px;
    letter-spacing: 1.5px;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #e3b784c4;
    font-weight: 450;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content-product {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content-member {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content-product .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content-member .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .mega-box .content-product .row:nth-child(1),
  .mega-box .content-product .row:nth-child(2) {
    border-top: 0px;
  }

  .mega-box .content-member .row:nth-child(1),
  .mega-box .content-member .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
    padding-top: 10px;
    line-height: 5px;
  }

  .content-product .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
    padding-top: 10px;
    line-height: 5px;
  }

  .content-member .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
    padding-top: 10px;
    line-height: 5px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .row .mega-links li {
    margin: -45px;
    padding: 3px;
  }

  .content .row header {
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    line-height: 30px;
  }

  .content-product .row header {
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    line-height: 30px;
  }

  .content-member .row header {
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    line-height: 30px;
  }

  .content .row img {
    margin: 0 6px;
  }

  .content-member .row img {
    margin: 0 6px;
  }
  .content .imgs .product {
    padding-top: 20px;
  }

  .content-member .imgs .product {
    padding-top: 20px;
  }

  .content .imgs .product img {
    padding-top: 20px;
  }

  .content-member .imgs .product img {
    padding-top: 20px;
  }
  nav input {
    display: none;
  }
}


/* 此區編輯footer */
footer{
    background: #000000;
    margin-top: 100px;
>>>>>>> 46f437c0ab082163b9baafc105cb7adc8f6c8f41
}
.footertitle {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 50px;
}
footer a {
  color: #707070;
  font-size: 0.8rem;
}
footer a:hover {
  color: #ffffff;
  text-decoration: none;
}
<<<<<<< HEAD
footer hr {
  margin-top: 100px;
  margin-bottom: 100px;
=======
footer hr{
    margin-top: 100px;
    margin-bottom: 10px;
>>>>>>> 46f437c0ab082163b9baafc105cb7adc8f6c8f41
}
.copyright {
  color: #ffffff;
  font-size: 0.6rem;
}
<<<<<<< HEAD
=======
.contacticon svg{
  fill: #E3B684;
  margin: 10px;
  padding: 5px;
}


>>>>>>> 46f437c0ab082163b9baafc105cb7adc8f6c8f41
