.hero {
  /* height: 790px; */
  background-color: #303030;
  position: relative;
}
.arrow {
  width: 50px;
  margin: 15px auto 0px auto;
  animation: arrow 1s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
.hero-text {
  display: flex;
  justify-content: center;
}
.hero-title {
  position: absolute;
  z-index: 2;
  top: 72%;
  font-size: 100px;
  color: #d9af80;
  font-family: "Raleway", sans-serif;
}
.bg-pic {
  width: 100%;
}
.bg-pic img {
  width: 100%;
  object-fit: cover;
}
.hero-area {
  /* display: flex; */
  justify-content: center;
  position: relative;
}
.carousel-slide {
  width: 75%;
  position: absolute;
}
.carousel-item img {
  width: 100%;
  object-fit: cover;
}
.model {
  width: 100%;
}
.model img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

/* feature-area */

.feature-area {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 450px;
  background-color: #cacaca;
}
.feature-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}
.feature-p-en {
  color: #303030;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin: 3px;
}
.feature-p-ch {
  color: #303030;
  font-size: 28px;
  font-weight: lighter;
}
.know-us {
  margin: 0;
}
.knowus-right {
  width: 50%;
  position: relative;
}
.knowus-left {
  width: 50%;
  display: flex;
  position: relative;
}
.knowpic1 {
  width: 320px;
  height: 200px;
  right: -160px;
  position: absolute;
  margin-top: 20px;
  z-index: 1;
  overflow: hidden;
}
.knowpic2 {
  width: 320px;
  height: 200px;
  right: 180px;
  position: absolute;
  margin-top: 20px;
  overflow: hidden;
}
.knowpic1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.knowpic2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.know-box {
  width: 550px;
  height: 300px;
  background-color: #303030;
  position: absolute;
  left: 0;
}
.knowus-right-p {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  padding: 40px 5px 0 35%;
  line-height: 28px;
}
.knowus-right-span {
  color: #d9af80;
  font-size: 18px;
}
/* 聲海3大特點 */
.threefeatures-area {
  margin-top: 45px;
  width: 100%;
}
.threefeatures {
  display: flex;
  justify-content: center;
}

.feature-title {
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
.feature-description {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 21px;
  color: #303030;
  border: 2px solid #d9af80;
  /* background-color:#303030; */
  padding: 10px;
}
.feature-image {
  width: 180px;
  height: 180px;
  margin: auto;
  /* padding: 20px; */
  position: relative;
  overflow: hidden;
  transition-duration: 5s; /**動畫時間**/
}
.feature-image:before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 80px; /**光標的寬度，可調整**/
  opacity: 0.1;
  background-image: linear-gradient(
    to bottom,
    transparent,
    #ffffff,
    transparent
  );
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-animation: searchLights 2s ease-in 1s infinite;
  -o-animation: searchLights 2s ease-in 1s infinite;
  animation: searchLights 2s ease-in 1s infinite; /**第一個數字參數控制掃光速度，數字越大越慢**/
}
.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 人氣商品  */
.topsale-area {
  margin-top: 10px;
  background-color: #cacaca;
  padding-top: 10px;
  padding-bottom: 30px;
}
.top3-area {
  height: 450px;
  position: relative;
  overflow: hidden;
}
.top3-wrap {
  display: flex;
  position: relative;
  transition: 0.5s;
  left: 0;
}
.topsale {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
}
.topsale-box {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tsbox {
  width: 350px;
  height: 450px;
  background-color: #303030;
}
.bestsale-en {
  color: #303030;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin: 3px;
  text-align: center;
}
.bestsale-ch {
  color: #303030;
  font-size: 28px;
  font-weight: lighter;
  text-align: center;
}
.topsale-right {
  height: 420px;
}
.topsale-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.topsale-left {
  height: 420px;
}
.topsale-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tsbox-text {
  font-size: 20px;
  color: #d9af80;
  text-align: center;
  padding-top: 25px;
}
.tsbox-detail {
  font-size: 14px;
  color: #cacaca;
  text-align: justify;
  text-justify: inter-ideograph;
  padding: 30px;
}
hr {
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(224, 162, 92, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.a-white-div01 {
  text-align: center;
  margin-top: -25px;
}
.a-white {
  background-color: transparent;
  color: #e3b684;
  border: 1px solid #e3b684;
  font-size: 18px;
  font-weight: lighter;
  /* border-radius: 20px; */
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
.a-white:hover {
  text-decoration: none;
  background-color: #e3b684;
  color: #1b1b1b;
  border: 1px solid #e3b684;
}

/* 75週年 */
/* .sennheiser-anniversary {
  background-color: #131414;
  background-image: url(https://i.ibb.co/rQMnxqR/backgroundpicture.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.sennheiser-anniversary:hover {
  background-image: url(https://i.ibb.co/5czSkNs/backgroundpicture.png);
}
.anniversary-text {
  display: flex;
  justify-content: space-between;
}
.text75 {
  display: flex;
  flex-direction: column;
  padding: 35px 0 0 80px;
}
.anniversary-text h2 {
  font-size: 28px;
  font-weight: normal;
  color: #d9af80;
}
.anniversary-text span {
  font-weight: lighter;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
  color: #fff;
}
.buildtext {
  padding: 35px 80px 0 0;
}
.buildtext p {
  font-size: 20px;
  font-weight: normal;
  color: #d9af80;
}
.buildtext:hover p {
  color: #fff;
}
.celebrate75years {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.celebrate75-text h3 {
  font-size: 8vw;
  color: transparent;
  -webkit-text-stroke: 2px #d9af80;
}
.celebrate75-text span {
  font-size: 20vw;
  padding: 0 10px 0 10px;
  color: transparent;
  -webkit-text-stroke: 2px #d9af80;
  border: 2px solid #d9af80;
}
.lighttext {
  animation: lighttext 1.2s ease-in-out infinite;
  -moz-animation: lighttext 1.2s ease-in-out infinite;
  -webkit-animation: lighttext 1.2s ease-in-out infinite;
}
@keyframes lighttext {
  0%,
  100% {
    text-shadow: 0 0 1vw #d9af8000, 0 0 3vw #d9af807e, 0 0 8vw #d9af8000,
      0 0 10vw #d9af8000, 0 0 0.2vw rgba(255, 255, 255, 0),
      0.5vw 0.5vw 0.1vw rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
  }
  50% {
    text-shadow: 0 0 0.5vw #d9af803d, 0 0 1.5vw #d9af8000, 0 0 5vw #d9af8000,
      0 0 5vw #d9af8086, 0 0 0.2vw #d9af8000,
      0.5vw 0.5vw 0.1vw rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
  }
}
.celebrate75-text a {
  text-decoration: none;
}
.celebrate75-text:hover a {
  text-decoration: none;
}
.reservation {
  padding: 35px 0 50px 80px;
}
.reservation-text a {
  text-decoration: underline;
  font-size: 24px;
  font-weight: normal;
  color: #d9af80;
}
.reservation-text:hover a {
  color: #fff;
}
.moveright {
  width: 45px;
  height: 45px;
  margin-right: 50px;
  animation: moveright 1s;
  animation-iteration-count: infinite;
}
@keyframes moveright {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
} */

/* 75 CSS start */
.sennheiser-anniversary {
  --color-text: #cacaca;
  --color-bg: #303030;
  --color-link: #d9af80;
  --color-link-hover: #cacaca;
  --color-title: #d9af80;
  --img-maxwidth: 250px;
  --blendmode-title: difference;
  --filter-img: none;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: quiroh, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: 0;
}

.frame__links {
  display: inline;
}

.frame__github,
.frame__links a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
  text-decoration: line-through;
  letter-spacing: 40px;
}

.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

.content__title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
  font-size: 8vw;
  mix-blend-mode: var(--blendmode-title);
  -webkit-text-stroke: 2px var(--color-title);
  -webkit-text-fill-color: transparent;
  color: transparent;
  pointer-events: none;
}

.title75 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
  font-size: 20vw;
  mix-blend-mode: var(--blendmode-title);
  -webkit-text-stroke: 2px var(--color-title);
  -webkit-text-fill-color: transparent;
  color: transparent;
  pointer-events: none;
  border: 2px solid #d9af80;
  padding: 5px;
}

.content__img {
  max-width: var(--img-maxwidth);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform;
  filter: var(--filter-img);
}

.content__img--full {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media screen and (min-width: 53em) {
  :root {
    font-size: 18px;
  }

  body {
    /* overflow: hidden; */
  }

  .message {
    display: none;
  }

  .frame {
    position: absolute;
    text-align: left;
    z-index: 10000;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 2rem;
    pointer-events: none;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "pagetitle github"
      "... ..."
      "title ...";
  }

  .frame__pagetitle {
    grid-area: pagetitle;
    margin: 0;
    padding-left: 30px;
    font-size: 28px;
    font-weight: normal;
    color: #d9af80;
  }

  .frame__pagetitle span {
    display: block;
    font-weight: lighter;
    font-size: 14px;
    line-height: 21px;
    padding-top: 15px;
    color: #fff;
  }

  .frame__pagetitle span::before {
    content: "\2015   ";
  }

  .frame__title-wrap {
    grid-area: title;
    display: flex;
  }

  .frame__links {
    padding: 0 0 20px 0;
    margin: 0 0 0 3rem;
    justify-self: end;
  }

  .frame__github {
    justify-self: end;
  }

  .frame a {
    pointer-events: auto;
  }

  .content {
    height: 100vh;
    overflow: hidden;
  }
}

/* 75 CSS end */

/* 情境介紹 */
.situation-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}
.situation-p-en {
  color: #303030;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin: 3px;
}
.situation-p-ch {
  color: #303030;
  font-size: 28px;
  font-weight: lighter;
}
.situation01 {
  background-color: #303030;
  /* overflow: hidden; */
}

.situation-pic {
  width: 540px;
  height: 390px;
  padding: 0;
  overflow: hidden;
}
.situation-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.svg-wrapper {
  height: 60px;
  width: 500px;
  padding: 30px 0 0 20px;
  text-align: center;
}
.shape {
  fill: transparent;
  stroke-dasharray: 270 900;
  stroke-dashoffset: -600;
  stroke-width: 2px;
  stroke: #ffffff;
}
.text {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 28px;
  letter-spacing: 2px;
  position: relative;
  top: -48px;
}
.svg-wrapper h6 {
  color: #d9af80;
}
.svg-wrapper p {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}
.order {
  order: 1;
}
@keyframes draw {
  0% {
    stroke-dasharray: 280 900;
    stroke-dashoffset: -450;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 1050;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.a-white-div {
  text-align: center;
  margin-top: 60px;
}
@keyframes searchLights {
  0% {
    left: -200px;
    top: -300px;
  }
  100% {
    left: -160px;
    top: 800px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: 270px;
    padding-top: 80px;
  }
  .hero-title {
    position: absolute;
    z-index: 2;
    top: 73%;
    font-size: 42px;
    color: #d9af80;
    font-family: "Raleway", sans-serif;
  }
  .arrow {
    width: 50px;
    margin: 0px auto 50px auto;
  }
  .know-us {
    width: 100%;
    margin: 0;
  }
  .knowus-left {
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  .knowus-right {
    width: 60%;
    margin-left: 10px;
  }
  .knowpic1 {
    width: 160px;
    height: 100px;
    right: 0px;
    margin-top: 0px;
    z-index: 1;
  }
  .knowpic2 {
    width: 160px;
    height: 100px;
    right: 0px;
    margin-top: 110px;
    z-index: 1;
  }
  .knowpic1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .knowpic2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .know-box {
    width: 100%;
    height: 300px;
    background-color: #303030;
    position: absolute;
    /* left: 0; */
  }
  .knowus-right-p {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    padding: 20px 5px 0 10px;
    line-height: 21px;
  }
  .knowus-right-span {
    color: #d9af80;
    font-size: 18px;
  }

  .topsale-area {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .topsale {
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
  }
  .topsale-box {
    top: auto;
  }
  .top3-area {
    overflow: hidden;
    height: 750px;
  }
  .top3-area a {
    top: -500px;
  }
  .tsbox {
    width: 90%;
    background-color: #303030;
    display: block;
    height: 750px;
  }
  .topsale-right {
    width: 100%;
    height: 210px;
    justify-content: center;
  }
  .topsale-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .topsale-left {
    width: 100%;
    height: 210px;
  }
  .topsale-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .sennheiser-anniversary {
    background-image: url(https://i.ibb.co/wsbDQ5g/backgroundpicture-s.png);
    background-size: contain;
  }
  .sennheiser-anniversary:hover {
    background-image: url(https://i.ibb.co/2gLL4J6/backgroundpicture-s-hover.png);
    background-size: contain;
  }
  .buildtext p {
    visibility: hidden;
  }
  .celebrate75-text h3 {
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 1px #d9af80;
  }
  .text75 {
    padding: 0 0 0 0;
  }
  .text75 h2 {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 8px;
  }
  .text75 span {
    font-size: 14px;
    padding-top: 0px;
    padding-left: 8px;
  }
  .reservation-text a {
    font-size: 20px;
  }
  .svg-wrapper svg {
    display: none;
  }
  .svg-wrapper {
    height: fit-content;
    width: 500px;
    /* padding: 30px 0 0 20px; */
    text-align: center;
  }
  .text {
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 24px;
    letter-spacing: 2px;
    position: static;
    top: -48px;
  }
  .svg-wrapper h6 {
    font-size: 18px;
    padding-top: 10px;
  }
  .order {
    order: 0;
  }
  .svg-wrapper p {
    display: none;
  }
  .a-white-div {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
