/* div{
    border: 1px solid red;
} */
/* body{
    font-family: "Futura", sans-serif;
} */


/* 這裡banner-container */
.banner-container{
    background-color: #000000;
    background-image: url(./images/4_reservation/room1-b.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* height: 800px; */
    padding-bottom: 100px;
}
.pic200{
    width: 200px;
    height: 200px;
    margin: 0px;
    background-color: transparent;
    border: 2px solid #CCCCCC;
    position: relative;
}

.pic200-img-wrap{
    width: 100%;
    height: 100%;
    /* display: none; */
    transform: perspective(1000px) rotateX(-90deg);
    transition: 1s;
    position: absolute;
    transform-origin: center top 0px
}

.pic200-img-wrap.active{
    display: block;
    transform: perspective(1000px) rotateX(0deg);
}
.pic200 img, .pic200-img-wrap img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-text{
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* color: #00BBC3; */
    font-family: "Futura", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    /* border-bottom:5px solid hsl(29, 58%, 64%); */
    /* font-weight: lighter; */
}
.banner-text h1{
    color: #d9a26e;
    font-size: 90px;
}
.banner-text h3{
    color: #d9a26e;
    font-size: 50px;
}
.booknow{
    margin: 0px auto 0px auto;
    height: 40px;
    width: 200px;
    line-height: 40px;
    border:2px solid transparent;
    border-image: linear-gradient(to bottom right, #d9a26e 0%, #d9a26e 100%);
    border-image-slice: 1;
    color: #d9a26e;
    font-weight: lighter;
}
.booknow:hover{
    border:2px solid transparent;
    border-image: linear-gradient(to bottom right, #d9a26e 0%, #d9a26e 100%);
    border-image-slice: 1;
    font-weight:normal;
}



/* 這裡編輯room-container */
.room-container{
    background: linear-gradient(to bottom,#000000,#1a1a1a);
    padding: 0px 100px 0px 100px;

}
 /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-box {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-box-front img, .flip-box-back img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .room-text{
    text-align: center;
    justify-content: center;
    align-items: center; 
   
  }
  .room-text h5{
    color: #FBA674; 
    font-weight: lighter;
  }
  .room-text p{
    color: #ffffff;
    font-weight: lighter;
}


/* 這裡編輯HE1 he1-container */
.he1-container{
    background-color: #000000;
}

/* 這裡編輯大字 */
.text-effect{
    width: 100%;
    margin-left: 200px;
    color: #fff;
    font-family: serif;
    font-size: 90px;
    font-weight: lighter;
    z-index: 2;
    transform: translateY(140px);
    /* display: block; */
}
.text-effect span{ animation: animate linear 2000ms infinite; }
.text-effect span:nth-child(1n){ animation-delay: 0s; }
.text-effect span:nth-child(2n){ animation-delay: 100ms; }
.text-effect span:nth-child(3n){ animation-delay: 200ms; }
.text-effect span:nth-child(4n){ animation-delay: 300ms; }
.text-effect span:nth-child(5n){ animation-delay: 400ms; }
.text-effect span:nth-child(6n){ animation-delay: 500ms; }
.text-effect span:nth-child(7n){ animation-delay: 600ms; }
.text-effect span:nth-child(8n){ animation-delay: 700ms; }
.text-effect span:nth-child(9n){ animation-delay: 800ms; }
.text-effect span:nth-child(10n){ animation-delay: 900ms; }
@keyframes animate{
    0%{ opacity: 0.3; }
    100%{
       opacity:1;
       text-shadow: 0 0 80px #f80000,0 0 30px #d9a26e,0 0 6px #ffee00;
    }
}
.he1-container h1{
    font-weight: lighter;
    background: -webkit-linear-gradient(#000000, #FBA674, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 200px;
}
.he1-small{
    width: 200px;
    height: 200px;
    padding: 5px;
    margin-left: auto;
    /* transform: rotate(5deg); */
}
.he1-small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.he1-small img:hover{
    -webkit-filter:invert(1);
}
.he1-area{
    position: relative;
}
.he1-bg{
    width: 100%;
    height: 600px;
    margin: 0px auto 0px auto;
}
.he1-bg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.focus-text{
    width: 300px;
    font-family: serif;
}
.focus-text h4{
    color: #d9a26e;
    font-weight: lighter;
    margin: 20px 0px 20px 0px;
}
.focus-text p{
    font-family: serif;
    color: #ffffff;
    font-weight: lighter;
}
.focus1 img, .focus2 img, .focus3 img{
    width: 80px;
    height: 80px;
}
.focus1{
    position: absolute;
    top: 300px;
    left: 150px;
}
.focus2{
    position: absolute;
    top: 250px;
    left: 980px;
}
.focus3{
    position: absolute;
    top: 450px;
    left: 1000px;
}




/* 這裡編輯 step-container */
.step-container{
    background-image: url(./images/4_reservation/bgline.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.step-wrap{
    margin: 200px auto 0 auto;
}
.step{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}
.step-pic{
    width: 55%;
    flex-shrink: 0;
    position: relative;
}
.step-pic-black{
    width: 100%;
    height: 100%;
}
.step-pic-black img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter:grayscale(1);
    opacity: 0.8;
}
.step-pic-color-odd{
    width: 90%;
    height: 90%;
    position: absolute;
    left: -60%;
    /* transform: translateX(-50%); */
    top: 150px;
}

.step-pic-color-even{
    width: 90%;
    height: 90%;
    position: absolute;
    left: -150%;
    /* transform: translateX(-50%); */
    top: 150px;
}
.step-pic-color-odd img, .step-pic-color-even img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

}
.step .step-text{
    width: 55%;
    flex-shrink: 0;
    color: #ffffff;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.step-text h4{
    color: #d9a26e;
    font-weight: lighter;
}
.step-text p{
    font-weight: lighter;
}
.step > :first-child{
    margin-right: -10%;
}

/* 這裡編輯報名區 form-container */
.form-container{
    background-color:#000000;
    margin: 100px 0px 0px 0px;
    padding: 20px;
    background-attachment: fixed;
}
.form-container h2{
    color: #457C86;
    text-align: center;
}
form{
    margin: 50px auto 120px auto;
}
.label-title{
    color:#d9a26e;
}
.input-time{

}
.label-time{
    color: azure;
}
.label-time input:disabled{
    color: #CCCCCC;
}
.submit-btn{
    width: 200px;
    padding: 10px;
    color: #457C86;
    background-color: transparent;
    border: 1px solid #457C86;
    text-align: center;
}
.submit-btn:hover{
    color:azure;
    background-color:#457C86;
     text-decoration: none;
}
.submit-btn a{
    color: #457c86;
    text-align: center;
   
}
.bg3d{
    width: 100%;
    height: 120px;
    /* transform: translateY(-200px); */
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bg3d img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.bg3d.move-up{
    transform: translateY(-100px);
}









