/* 購物車css樣式 */

/* 打開參考線 */
/* div {
  outline: 1px solid turquoise;
} */

/* 購物進度列 */
.progressbar {
  width: 100%;
  height: 140px ;
  counter-reset: step;
  margin-top: 2rem;
  padding-left:4rem;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 30.33%;
  position: relative;
  text-align: center;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
  display: block;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
}


.progressbar li .active{
  color: #000;
}

.progressbar li.active::before{
  border-color: #000;
}

 li.cart {
  color: #ccc;
}

li.check{
  color: #ccc;
}


/* 訂單確認 */

.top-title h5{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.product-detail{
  width: 60%;
  margin: 0 20% 0 25%;
}

.detail-line{
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.det-1{
  border-right: 1px solid #e6e6e6 ;
}

.detail-line p{
  transform: translateX(-50%);
}

.top-title h5{
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* 查看訂單記錄 */
.btn-buy {
  background-color: #000000;
  color: #fff;
  border: none;
  width: 450px;
  height: 50px;
  font-size: .6rem;
  margin-top: 1rem;
}

/* 回首頁按鈕 */
.btn-back {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  width: 450px;
  height: 50px;
  font-size: .6rem;
  margin-top: 1rem;
  
}

.btn-all{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.btn-all .btn-buy, .btn-back{
  margin: 0 auto;
  margin-top: 1rem;
}
 
 
/* RWD部分 */
@media (max-width: 767px){

  /* 進度列 */
  .progressbar {
    width: 100%;
    height: 100px;
    padding-left:1rem;
  }

  ul.progressbar
 {
    margin-top: 7rem;
}

.span.cart{
  color: #ccc;
}
.span.check{
  color: #ccc;
}


  .product-detail{
    width: 100%;
    margin: auto;
  }

  ul.detail-line{
    padding: 0 1rem 0 1rem;
  }

  .detail-line {
    list-style: none;
    display: flex;
    flex-direction: column;
}

  ul.detail-line li{
    width: 100%;
    padding: 10px 0 ;
  }

  .detail-line p{
    transform: translateX(0%);
    display: flex;
    margin:0;
  }

  .det-1{
    width: 80%;
    border-right:none ;
    border-bottom:1px solid #e6e6e6;
    margin-bottom:.5rem;
  }
  
  
  
  .top-title h5{
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btn-all{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  /* 查看訂單記錄 */
.btn-buy {
  width: 250px;
  height: 45px;
}

  /* 回首頁按鈕 */
.btn-back {
  width: 250px;
  height: 45px;
}

}
  
  



  
