/* 購物車css樣式 */

/* 打開參考線 */
/* div {
  outline: 1px solid turquoise;
} */

/* 購物進度列 */
.progressbar {
  width: 100%;
  height: 140px ;
  counter-reset: step;
  margin-top: 2rem;
  padding-left:4rem;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 30.33%;
  position: relative;
  text-align: center;
}


.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
  display: block;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
}

.progressbar li.active span{
  color: #000;
}

.progressbar li.active::before{
  border-color: #000;
}

li.check  {
  color: #ccc;
}

 li.finish  {
  color: #ccc;
}



/* 購物車頁面 */
.cart-wrapper {
  width: 86%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 1rem;
}

.cart-wrapper .items-wrapper {
  padding: 1.5rem;
  width: 50%;
  margin-top:2rem;
  height: 100%;
}

.items-wrapper .item1 {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  align-items: center;
  padding-top:1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

/* 刪除按鈕 */
.cart-wrapper .items-wrapper .remove-icon {
  width: 30px;
  height: 30px;
  margin-bottom: auto;
}

/* 商品圖 */
.cart-wrapper .item1 .item-img img {
  width: 100%;
  overflow: hidden;
}

a {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}

.cart-wrapper .item1 .item .item-info {
  width: 100%;
}

/* 商品名＆價格 */
.items-wrapper .item1 .item-info {
  padding-top: 1.2rem;
  color: black;
  letter-spacing: 1.2px;
}


.cart-wrapper .item1 .item-total-wrapper .item-total-wrap p {
  margin-right: 2.5rem;
  padding-top: 1rem;
}

.item-wrap-total{
  padding-top:1rem;
  text-align: center;
}

.cart-wrapper .item1 .item-total-wrapper .item-total-wrap .quantity {
  width: 50%;
}

.cart-wrapper .item1 .item-total-wrapper .item-wrap-total {
  width: 50%;
  justify-content: flex-end;
  padding-right: .5rem;
}


/* 數量＆小計區 */
.cart-wrapper .item1 .item-total-wrapper {
  margin-bottom: auto;
  margin-left:1rem;
 
}

.cart-wrapper .item1 .item-total-wrapper .item-total-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  padding:.5rem;
  margin-left: 2rem;
}

/* 數量增減鈕 */

.add,
.min {
    width: 50px;
    height: 50px;
    border: #fff;
    background-color:transparent;
}

.text-box {
    margin-top:.5rem;
    width: 80px;
    height: 30px;
    border: #fff;
    background-color: transparent;
    text-align: center;
}

/* 總計 */
.cart-wrapper .list-inner {
  width: 38%;
  margin-top: 2rem;
  margin-right:4.5rem;
  padding-left: 1.5rem;
  padding-top:2rem;
  position:sticky;
  top: 0;
  height: 100%;
}

.cart-wrapper .list-inner .total-wrapper .subtotal,.shipfee,.final_price,.discount1 {
  display: flex;
  justify-content: space-between;
  padding: .35rem 0;
  margin-left: 1rem;
}

.cart-wrapper .list-inner .total-wrapper hr {
  width: 100%;
  margin: auto;
  opacity: .2;
  border-style: solid;
  border-width: .5px;
  margin: .5rem 0;
}

/* 結帳按鈕 */
.button-area{
  display: block;
  width: 100%;
}

.btn-buy {
  background-color: #000000;
  color: #fff;
  border: none;
  font-size: 0.6rem;
  width: 450px;
  height: 45px;
  margin:2rem 4rem 0 4rem;
}

/* 繼續購物按鈕 */
.btn-back {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  font-size: 0.6rem;
  width: 450px;
  height: 45px;
  margin:2rem 4rem 0 4rem;
}


/* RWD部分 */
@media (max-width: 767px){

  /* 進度列 */
  .progressbar {
    width: 100%;
    height: 100px;
    padding-left:1rem;
  }

  ul.progressbar {
    margin-top: 120px;
}

  .cart-wrapper {
    width: 86%;
    margin: auto;
  }

  .cart-wrapper .items-wrapper {
    width: 100%; 
  }

  .span.check{
    color: #ccc;
  }

  .span.finish{
    color:#ccc;
  }

  /* 商品圖 */
  .cart-wrapper .item1 .item-img img {
    width: 100%;
    overflow: hidden;
}

  .items-wrapper .item1 {
    padding-top:0;
    border-bottom:none;
}

.cart-wrapper .item1 .item-total-wrapper .item-total-wrap p {
  margin-right:0;
}

/* 刪除按鈕 */
  .cart-wrapper .items-wrapper #remove-icon {
  width: 40px;
  height: 40px;
  margin-left:.5rem;
}

  .cart-wrapper .item1 .item .item-info {
  width: 100%;
}

/* 數量＆小計 */
.cart-wrapper .item1 {
  display: flex;
  flex-wrap: wrap;
}

.cart-wrapper .item1 .item-total-wrapper {
  width: 80%;
  margin-top:1rem;
}

.cart-wrapper .item1 .item-total-wrapper .item-total-wrap {
  border-bottom: 1px solid #e6e6e6;
}

.item-price {
  padding-top: 1rem;
}

.cart-wrapper .item1 .item-total-wrapper .item-total-wrap {
margin-left:0;
}

/* 總計 */
.cart-wrapper .list-inner {
  width: 90%;
  margin:0;
  padding-left:1rem;
  
}

/* 結帳按鈕 */
button.btn-buy {
  margin-top: 2rem;
}


.btn-buy {
  width: 300px;
  height: 45px;
  margin: 0;
}

/* 繼續購物按鈕 */

button.btn-back{
  margin:1.5rem 0 3rem 0;
}

.btn-back {
  width: 300px;
  height: 45px;
  margin: 0;
}

}
  