div{
  border: 1px solid red;
}

table{
  border: 1px solid red;
}
table{
  margin: auto;
  width: 60%;
}
.coupon thead{
  background-color: #000000;

}
.coupon td{
  border-bottom: 1px solid #cccccc;


}