.goback {
  text-align: center;
  font-size: 25px;
}

table {
  margin: 20px auto 20px auto;
  width: 60%;
}
.coupon-title {
  background-color: #000000;
  width: 60%;
  color: #ffffff;
  margin: 30px auto 0px auto;
  padding: 10px;
}
.coupon td {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}
.form-control {
  width: 60%;
  margin: auto;
}

.order-detail-btn {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.order-detail-btn:hover {
  color: #fff;
}

.order-detail {
  height: 15px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
}

.order-detail-tr {
  display: none;
}

.order-detail-tr.active {
  display: table-row;
}

.order-detail-table {
  border: 1px solid #ccc;
}

.ctainer{
  margin-bottom: 200px;
}

/* .order-detail:hover {
  height: auto;
  width: auto;
} */
